@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.question-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Reddit Mono";
}

.question-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    width: 50%;
    gap: 10px;
}