@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.heading{
    font-size: 128px;
    text-align: center;
    margin: 80px 0;
}
.timeline-about{
    padding: 100px 15px;
    background-color: rgb(245, 226, 204);
    font-family: "Reddit Mono";
}
.timeline-about h2{
    margin-bottom: 80px;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #403391e2;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #4536aa;
    box-shadow: 0 0 25px #403391e2,
                0 0 35px #403391e2;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: black;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: rgba(246, 206, 160, 0.685);
    border: 3px solid #403391e2;
    padding: 30px 50px;
    border-radius: 64px;
    box-shadow: 0 0 10px #403391e2;
    cursor: pointer;
    transition: 0.3s ease-in-out;  
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #403391e2;
}
.timeline-content h3{
    font-size: 20px;
    color: black;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}